.container{
    background-color:gray;
    width:30%;
    float:left;
    margin:5px;
    padding:10px;
    border:2px solid black;
    position:relative;
    }

.food{
    margin:0 auto;
    width:80%
}

.container h2{
    position:absolute;
    top:0;
    right:0;
    background-color:brown;
    margin:0;
    width:40%;
    text-align:center;
    border:2px solid black;
    border-top:none;
    border-right:none;
}

.container:nth-of-type(1) h2{
    background-color:green;
}
